<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SelectorScreen_BG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,75}</string>
                <key>spriteSourceSize</key>
                <string>{100,75}</string>
                <key>textureRect</key>
                <string>{{360,273},{100,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SelectorScreen_BG1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,75}</string>
                <key>spriteSourceSize</key>
                <string>{100,75}</string>
                <key>textureRect</key>
                <string>{{360,375},{100,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SelectorScreen_BG2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,75}</string>
                <key>spriteSourceSize</key>
                <string>{100,75}</string>
                <key>textureRect</key>
                <string>{{1,479},{100,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SelectorScreen_BG3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,75}</string>
                <key>spriteSourceSize</key>
                <string>{100,75}</string>
                <key>textureRect</key>
                <string>{{103,479},{100,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SelectorScreen_BG4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,75}</string>
                <key>spriteSourceSize</key>
                <string>{100,75}</string>
                <key>textureRect</key>
                <string>{{409,570},{100,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SelectorScreen_BG5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,75}</string>
                <key>spriteSourceSize</key>
                <string>{100,75}</string>
                <key>textureRect</key>
                <string>{{409,647},{100,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SelectorScreen_Cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,204}</string>
                <key>spriteSourceSize</key>
                <string>{357,204}</string>
                <key>textureRect</key>
                <string>{{1,273},{357,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SelectorScreen_Cloud10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{434,124}</string>
                <key>spriteSourceSize</key>
                <string>{434,144}</string>
                <key>textureRect</key>
                <string>{{1,147},{434,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SelectorScreen_Cloud11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,73}</string>
                <key>spriteSourceSize</key>
                <string>{211,73}</string>
                <key>textureRect</key>
                <string>{{437,1},{211,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SelectorScreen_Cloud12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,91}</string>
                <key>spriteSourceSize</key>
                <string>{239,91}</string>
                <key>textureRect</key>
                <string>{{1,570},{239,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SelectorScreen_Cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{146,91}</string>
                <key>spriteSourceSize</key>
                <string>{152,121}</string>
                <key>textureRect</key>
                <string>{{360,477},{146,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SelectorScreen_Cloud3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,206}</string>
                <key>spriteSourceSize</key>
                <string>{220,206}</string>
                <key>textureRect</key>
                <string>{{187,602},{220,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SelectorScreen_Cloud4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,121}</string>
                <key>spriteSourceSize</key>
                <string>{152,121}</string>
                <key>textureRect</key>
                <string>{{205,479},{152,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SelectorScreen_Cloud5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,44}</string>
                <key>spriteSourceSize</key>
                <string>{76,44}</string>
                <key>textureRect</key>
                <string>{{56,811},{76,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SelectorScreen_Cloud6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,44}</string>
                <key>spriteSourceSize</key>
                <string>{76,44}</string>
                <key>textureRect</key>
                <string>{{134,811},{76,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SelectorScreen_Cloud7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{434,144}</string>
                <key>spriteSourceSize</key>
                <string>{434,144}</string>
                <key>textureRect</key>
                <string>{{1,1},{434,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SelectorScreen_Cloud8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,91}</string>
                <key>spriteSourceSize</key>
                <string>{239,91}</string>
                <key>textureRect</key>
                <string>{{94,570},{239,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SelectorScreen_Cloud9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,73}</string>
                <key>spriteSourceSize</key>
                <string>{211,73}</string>
                <key>textureRect</key>
                <string>{{437,214},{211,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SelectorScreen_Flower1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,47}</string>
                <key>spriteSourceSize</key>
                <string>{36,47}</string>
                <key>textureRect</key>
                <string>{{437,427},{36,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SelectorScreen_Flower2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{212,810},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SelectorScreen_Flower3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,53}</string>
                <key>spriteSourceSize</key>
                <string>{46,53}</string>
                <key>textureRect</key>
                <string>{{1,811},{46,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MainMenu.pvr.ccz</string>
            <key>size</key>
            <string>{511,858}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c39ffa121db75d321e77fb39b0abd5c:3a54696a72f02309192d9400ea6e9db3:b2ef432c417124ec167b19982812fe25$</string>
            <key>textureFileName</key>
            <string>MainMenu.pvr.ccz</string>
        </dict>
    </dict>
</plist>
