<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ButtonNew.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,130}</string>
                <key>spriteSourceSize</key>
                <string>{432,130}</string>
                <key>textureRect</key>
                <string>{{1807,1},{432,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ButtonNew2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,131}</string>
                <key>spriteSourceSize</key>
                <string>{431,131}</string>
                <key>textureRect</key>
                <string>{{486,1623},{431,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CaveFileButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,22}</string>
                <key>spriteSourceSize</key>
                <string>{95,22}</string>
                <key>textureRect</key>
                <string>{{1951,1685},{95,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CaveFileButtonDown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,22}</string>
                <key>spriteSourceSize</key>
                <string>{96,22}</string>
                <key>textureRect</key>
                <string>{{1978,1125},{96,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CheckBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,95}</string>
                <key>spriteSourceSize</key>
                <string>{94,95}</string>
                <key>textureRect</key>
                <string>{{1867,1783},{94,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CheckBox2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,96}</string>
                <key>spriteSourceSize</key>
                <string>{94,96}</string>
                <key>textureRect</key>
                <string>{{1855,1685},{94,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,126}</string>
                <key>spriteSourceSize</key>
                <string>{138,126}</string>
                <key>textureRect</key>
                <string>{{1669,1812},{138,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Continue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,98}</string>
                <key>spriteSourceSize</key>
                <string>{168,98}</string>
                <key>textureRect</key>
                <string>{{1868,815},{168,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Continue1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,98}</string>
                <key>spriteSourceSize</key>
                <string>{168,98}</string>
                <key>textureRect</key>
                <string>{{1425,1809},{168,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LackPlants.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,75}</string>
                <key>spriteSourceSize</key>
                <string>{61,75}</string>
                <key>textureRect</key>
                <string>{{1939,326},{61,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LackSun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,69}</string>
                <key>spriteSourceSize</key>
                <string>{64,69}</string>
                <key>textureRect</key>
                <string>{{1867,1880},{64,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LevelObjiectives2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{1421,1979},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LevelObjiectivesBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1056,632}</string>
                <key>spriteSourceSize</key>
                <string>{1056,632}</string>
                <key>textureRect</key>
                <string>{{1173,1},{1056,632}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MorePlants.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{1696,1952},{51,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoreSun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,72}</string>
                <key>spriteSourceSize</key>
                <string>{71,72}</string>
                <key>textureRect</key>
                <string>{{891,1967},{71,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ProgressBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,19}</string>
                <key>spriteSourceSize</key>
                <string>{155,19}</string>
                <key>textureRect</key>
                <string>{{1797,1812},{155,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ProgressBar1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,11}</string>
                <key>spriteSourceSize</key>
                <string>{143,11}</string>
                <key>textureRect</key>
                <string>{{1408,1882},{143,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ProgressBarFlag.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,25}</string>
                <key>spriteSourceSize</key>
                <string>{27,25}</string>
                <key>textureRect</key>
                <string>{{1975,1685},{27,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ProgressBarFlag1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,41}</string>
                <key>spriteSourceSize</key>
                <string>{27,41}</string>
                <key>textureRect</key>
                <string>{{1493,1532},{27,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Prohibit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{1774,1969},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>QuitDialog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,257}</string>
                <key>spriteSourceSize</key>
                <string>{322,257}</string>
                <key>textureRect</key>
                <string>{{1173,1059},{322,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RequirementDown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{142,142}</string>
                <key>textureRect</key>
                <string>{{1525,1812},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SeedBank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,378}</string>
                <key>spriteSourceSize</key>
                <string>{87,378}</string>
                <key>textureRect</key>
                <string>{{1868,435},{87,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SeedChooser_Background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1170,1620}</string>
                <key>spriteSourceSize</key>
                <string>{1170,1620}</string>
                <key>textureRect</key>
                <string>{{1,1},{1170,1620}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SeedChooser_Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,42}</string>
                <key>spriteSourceSize</key>
                <string>{156,42}</string>
                <key>textureRect</key>
                <string>{{1957,403},{156,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SeedChooser_Button2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,26}</string>
                <key>spriteSourceSize</key>
                <string>{111,26}</string>
                <key>textureRect</key>
                <string>{{1807,937},{111,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SeedChooser_Button2_Glow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,26}</string>
                <key>spriteSourceSize</key>
                <string>{111,26}</string>
                <key>textureRect</key>
                <string>{{1968,813},{111,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SeedChooser_Button_Disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,42}</string>
                <key>spriteSourceSize</key>
                <string>{156,42}</string>
                <key>textureRect</key>
                <string>{{1957,561},{156,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SelectorScreen_Adventure_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,120}</string>
                <key>spriteSourceSize</key>
                <string>{330,120}</string>
                <key>textureRect</key>
                <string>{{1497,1194},{330,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SelectorScreen_Adventure_button1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,120}</string>
                <key>spriteSourceSize</key>
                <string>{330,120}</string>
                <key>textureRect</key>
                <string>{{1190,1595},{330,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SelectorScreen_Challenges_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,122}</string>
                <key>spriteSourceSize</key>
                <string>{286,122}</string>
                <key>textureRect</key>
                <string>{{767,1756},{286,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SelectorScreen_Shadow_Adventure.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{337,124}</string>
                <key>spriteSourceSize</key>
                <string>{337,126}</string>
                <key>textureRect</key>
                <string>{{1504,1316},{337,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SelectorScreen_Shadow_Challenge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,127}</string>
                <key>spriteSourceSize</key>
                <string>{289,127}</string>
                <key>textureRect</key>
                <string>{{638,1756},{289,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SelectorScreen_Shadow_Survival.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,136}</string>
                <key>spriteSourceSize</key>
                <string>{318,136}</string>
                <key>textureRect</key>
                <string>{{1173,1457},{318,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SelectorScreen_Shadow_ZenGarden.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,127}</string>
                <key>spriteSourceSize</key>
                <string>{269,127}</string>
                <key>textureRect</key>
                <string>{{919,1623},{269,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SelectorScreen_Survival_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,133}</string>
                <key>spriteSourceSize</key>
                <string>{313,133}</string>
                <key>textureRect</key>
                <string>{{1497,1059},{313,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SelectorScreen_Vasebreaker_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{264,123}</string>
                <key>spriteSourceSize</key>
                <string>{266,123}</string>
                <key>textureRect</key>
                <string>{{1540,1687},{264,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SelectorScreen_WoodSign1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{289,150}</string>
                <key>spriteSourceSize</key>
                <string>{293,150}</string>
                <key>textureRect</key>
                <string>{{486,1756},{289,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SelectorScreen_WoodSign2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,71}</string>
                <key>spriteSourceSize</key>
                <string>{291,71}</string>
                <key>textureRect</key>
                <string>{{1522,1614},{291,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SelectorScreen_WoodSign2_press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,71}</string>
                <key>spriteSourceSize</key>
                <string>{291,71}</string>
                <key>textureRect</key>
                <string>{{1132,1809},{291,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SelectorScreen_WoodSign3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,40}</string>
                <key>spriteSourceSize</key>
                <string>{92,40}</string>
                <key>textureRect</key>
                <string>{{1957,719},{92,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ShovelBank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,164}</string>
                <key>spriteSourceSize</key>
                <string>{158,164}</string>
                <key>textureRect</key>
                <string>{{972,1752},{158,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shovel_hi_res.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,152}</string>
                <key>spriteSourceSize</key>
                <string>{121,152}</string>
                <key>textureRect</key>
                <string>{{972,1918},{121,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Shovel_hi_res1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,163}</string>
                <key>spriteSourceSize</key>
                <string>{121,163}</string>
                <key>textureRect</key>
                <string>{{1132,1882},{121,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ShowNumber.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,50}</string>
                <key>spriteSourceSize</key>
                <string>{169,50}</string>
                <key>textureRect</key>
                <string>{{1525,1956},{169,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SpeedButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,141}</string>
                <key>spriteSourceSize</key>
                <string>{143,141}</string>
                <key>textureRect</key>
                <string>{{1846,1542},{143,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SpeedButtonDown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{151,151}</string>
                <key>spriteSourceSize</key>
                <string>{151,153}</string>
                <key>textureRect</key>
                <string>{{1255,1882},{151,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>StopButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,142}</string>
                <key>spriteSourceSize</key>
                <string>{149,142}</string>
                <key>textureRect</key>
                <string>{{1843,1265},{143,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,137}</string>
                <key>spriteSourceSize</key>
                <string>{130,137}</string>
                <key>textureRect</key>
                <string>{{1854,1410},{130,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SunBank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,137}</string>
                <key>spriteSourceSize</key>
                <string>{329,137}</string>
                <key>textureRect</key>
                <string>{{1173,1318},{329,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Zombie_flag1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,61}</string>
                <key>spriteSourceSize</key>
                <string>{15,61}</string>
                <key>textureRect</key>
                <string>{{1987,1223},{13,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ZombiesDie.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,79}</string>
                <key>spriteSourceSize</key>
                <string>{209,79}</string>
                <key>textureRect</key>
                <string>{{891,1756},{209,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,138}</string>
                <key>spriteSourceSize</key>
                <string>{146,138}</string>
                <key>textureRect</key>
                <string>{{1854,985},{146,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,138}</string>
                <key>spriteSourceSize</key>
                <string>{147,138}</string>
                <key>textureRect</key>
                <string>{{1829,1125},{147,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgFile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,33}</string>
                <key>spriteSourceSize</key>
                <string>{500,33}</string>
                <key>textureRect</key>
                <string>{{1807,435},{500,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,47}</string>
                <key>spriteSourceSize</key>
                <string>{117,47}</string>
                <key>textureRect</key>
                <string>{{1806,1687},{117,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,47}</string>
                <key>spriteSourceSize</key>
                <string>{117,47}</string>
                <key>textureRect</key>
                <string>{{1818,1806},{117,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coinbank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,80}</string>
                <key>spriteSourceSize</key>
                <string>{322,80}</string>
                <key>textureRect</key>
                <string>{{1522,1532},{322,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>editbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,61}</string>
                <key>spriteSourceSize</key>
                <string>{323,61}</string>
                <key>textureRect</key>
                <string>{{1939,1},{323,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>options_backtogamebutton0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{348,90}</string>
                <key>spriteSourceSize</key>
                <string>{360,100}</string>
                <key>textureRect</key>
                <string>{{1190,1717},{348,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>options_backtogamebutton2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{348,88}</string>
                <key>spriteSourceSize</key>
                <string>{360,100}</string>
                <key>textureRect</key>
                <string>{{1504,1442},{348,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>options_checkbox0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,39}</string>
                <key>spriteSourceSize</key>
                <string>{42,39}</string>
                <key>textureRect</key>
                <string>{{1484,1979},{42,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>options_checkbox1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,39}</string>
                <key>spriteSourceSize</key>
                <string>{42,39}</string>
                <key>textureRect</key>
                <string>{{1132,1752},{42,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>options_menuback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{412,483}</string>
                <key>spriteSourceSize</key>
                <string>{412,483}</string>
                <key>textureRect</key>
                <string>{{1,1623},{412,483}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>options_sliderknob2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,29}</string>
                <key>spriteSourceSize</key>
                <string>{22,29}</string>
                <key>textureRect</key>
                <string>{{1484,2023},{22,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>options_sliderslot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,10}</string>
                <key>spriteSourceSize</key>
                <string>{135,10}</string>
                <key>textureRect</key>
                <string>{{1255,2035},{135,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progressFile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,24}</string>
                <key>spriteSourceSize</key>
                <string>{500,24}</string>
                <key>textureRect</key>
                <string>{{1842,435},{500,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thumbFile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1812,1050},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Dialog_0.pvr.ccz</string>
            <key>size</key>
            <string>{2001,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27d83c03656c7f62f8b03a18d3ec474d:941cc8b9d1f1d46a94c7546054a9eff9:f4670361c189b4512f49eb855f5f0df1$</string>
            <key>textureFileName</key>
            <string>Dialog_0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
