<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CloseDown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,126}</string>
                <key>spriteSourceSize</key>
                <string>{138,126}</string>
                <key>textureRect</key>
                <string>{{821,289},{138,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InputDataDialog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,505}</string>
                <key>spriteSourceSize</key>
                <string>{506,505}</string>
                <key>textureRect</key>
                <string>{{314,1},{506,505}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LevelObjiectives.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,311}</string>
                <key>spriteSourceSize</key>
                <string>{528,311}</string>
                <key>textureRect</key>
                <string>{{1,1},{528,311}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Requirement.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,141}</string>
                <key>spriteSourceSize</key>
                <string>{142,141}</string>
                <key>textureRect</key>
                <string>{{821,1},{142,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>StopButtonDown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,142}</string>
                <key>spriteSourceSize</key>
                <string>{140,142}</string>
                <key>textureRect</key>
                <string>{{821,145},{140,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Dialog_1.pvr.ccz</string>
            <key>size</key>
            <string>{963,530}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27d83c03656c7f62f8b03a18d3ec474d:941cc8b9d1f1d46a94c7546054a9eff9:f4670361c189b4512f49eb855f5f0df1$</string>
            <key>textureFileName</key>
            <string>Dialog_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
