<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LoadBar_dirt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,18}</string>
                <key>spriteSize</key>
                <string>{311,45}</string>
                <key>spriteSourceSize</key>
                <string>{321,81}</string>
                <key>textureRect</key>
                <string>{{543,1280},{311,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LoadBar_grass.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{314,42}</string>
                <key>spriteSourceSize</key>
                <string>{314,64}</string>
                <key>textureRect</key>
                <string>{{840,1197},{314,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PopCap_Logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{492,258}</string>
                <key>spriteSourceSize</key>
                <string>{492,258}</string>
                <key>textureRect</key>
                <string>{{1,1083},{492,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PopCap_Logo1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,270}</string>
                <key>spriteSourceSize</key>
                <string>{195,270}</string>
                <key>textureRect</key>
                <string>{{495,1083},{195,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PvZ_Logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,2}</string>
                <key>spriteSize</key>
                <string>{512,112}</string>
                <key>spriteSourceSize</key>
                <string>{700,116}</string>
                <key>textureRect</key>
                <string>{{767,1083},{512,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SodRollCap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,71}</string>
                <key>spriteSourceSize</key>
                <string>{73,71}</string>
                <key>textureRect</key>
                <string>{{767,1197},{73,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,260}</string>
                <key>spriteSourceSize</key>
                <string>{101,260}</string>
                <key>textureRect</key>
                <string>{{1156,1197},{101,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sprout_petal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,46}</string>
                <key>spriteSourceSize</key>
                <string>{48,46}</string>
                <key>textureRect</key>
                <string>{{495,1280},{48,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>titlescreen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,1080}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,1},{1920,1080}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LoadingScene.pvr.ccz</string>
            <key>size</key>
            <string>{1922,1342}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a183b52cd63a20ca2f29e58d0a84256:d7b68fac552ac47fe524b4aa810efd1c:aa36867006256dfd694438ef89693b45$</string>
            <key>textureFileName</key>
            <string>LoadingScene.pvr.ccz</string>
        </dict>
    </dict>
</plist>
