<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Final.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{875,118}</string>
                <key>spriteSourceSize</key>
                <string>{879,118}</string>
                <key>textureRect</key>
                <string>{{773,1},{875,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ManyZombiesComing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{963,117}</string>
                <key>spriteSourceSize</key>
                <string>{963,117}</string>
                <key>textureRect</key>
                <string>{{654,1},{963,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Prompt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,325}</string>
                <key>spriteSourceSize</key>
                <string>{800,325}</string>
                <key>textureRect</key>
                <string>{{1,1392},{800,325}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PvZ_Logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,2}</string>
                <key>spriteSize</key>
                <string>{512,112}</string>
                <key>spriteSourceSize</key>
                <string>{700,116}</string>
                <key>textureRect</key>
                <string>{{773,878},{512,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SelectorScreen_Help1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,22}</string>
                <key>spriteSourceSize</key>
                <string>{48,22}</string>
                <key>textureRect</key>
                <string>{{866,1622},{48,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SelectorScreen_Help2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,22}</string>
                <key>spriteSourceSize</key>
                <string>{48,22}</string>
                <key>textureRect</key>
                <string>{{1,936},{48,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SelectorScreen_Options1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{61,27}</string>
                <key>spriteSourceSize</key>
                <string>{81,31}</string>
                <key>textureRect</key>
                <string>{{803,1622},{61,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SelectorScreen_Options2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{61,27}</string>
                <key>spriteSourceSize</key>
                <string>{81,31}</string>
                <key>textureRect</key>
                <string>{{803,1672},{61,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SelectorScreen_Quit1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,21}</string>
                <key>spriteSourceSize</key>
                <string>{47,27}</string>
                <key>textureRect</key>
                <string>{{51,936},{47,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SelectorScreen_Quit2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,21}</string>
                <key>spriteSourceSize</key>
                <string>{47,27}</string>
                <key>textureRect</key>
                <string>{{1,1364},{47,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>StartPlant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{240,107}</string>
                <key>spriteSourceSize</key>
                <string>{300,133}</string>
                <key>textureRect</key>
                <string>{{1,966},{240,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>StartReady.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{228,81}</string>
                <key>spriteSourceSize</key>
                <string>{300,133}</string>
                <key>textureRect</key>
                <string>{{803,1392},{228,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>StartSet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-12}</string>
                <key>spriteSize</key>
                <string>{154,57}</string>
                <key>spriteSourceSize</key>
                <string>{300,133}</string>
                <key>textureRect</key>
                <string>{{1,1208},{154,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ZombieNote.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,1}</string>
                <key>spriteSize</key>
                <string>{651,459}</string>
                <key>spriteSourceSize</key>
                <string>{709,461}</string>
                <key>textureRect</key>
                <string>{{1,1},{651,459}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombieswon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-12}</string>
                <key>spriteSize</key>
                <string>{532,444}</string>
                <key>spriteSourceSize</key>
                <string>{564,468}</string>
                <key>textureRect</key>
                <string>{{110,936},{532,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zombieswon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{564,472}</string>
                <key>spriteSourceSize</key>
                <string>{564,472}</string>
                <key>textureRect</key>
                <string>{{1,462},{564,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Word.pvr.ccz</string>
            <key>size</key>
            <string>{892,1718}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:636a51785672375161bf80a34689554a:35cf74e91631285f1331fd56a8f10519:5508e8708673c168e00e30080bf40bc0$</string>
            <key>textureFileName</key>
            <string>Word.pvr.ccz</string>
        </dict>
    </dict>
</plist>
