<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SelectorScreen_BG_Center.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,350}</string>
                <key>spriteSourceSize</key>
                <string>{720,350}</string>
                <key>textureRect</key>
                <string>{{3247,1415},{720,350}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SelectorScreen_BG_Left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{454,680}</string>
                <key>spriteSourceSize</key>
                <string>{476,680}</string>
                <key>textureRect</key>
                <string>{{3247,733},{454,680}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SelectorScreen_BG_Right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{730,560}</string>
                <key>spriteSourceSize</key>
                <string>{730,560}</string>
                <key>textureRect</key>
                <string>{{3247,1},{730,560}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>background1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2930,1080}</string>
                <key>spriteSourceSize</key>
                <string>{2930,1080}</string>
                <key>textureRect</key>
                <string>{{1,1},{2930,1080}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>background3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2930,1080}</string>
                <key>spriteSourceSize</key>
                <string>{2930,1080}</string>
                <key>textureRect</key>
                <string>{{1083,1},{2930,1080}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>background4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2930,1080}</string>
                <key>spriteSourceSize</key>
                <string>{2930,1080}</string>
                <key>textureRect</key>
                <string>{{2165,1},{2930,1080}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA5551</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>background_0.pvr.ccz</string>
            <key>size</key>
            <string>{3808,2932}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b9c6ebc9e00cd4e629de3630e0131cf:2bcd141c04778ed0768a90fce925818e:da3267c4ef8dd14e73b6440947b5de24$</string>
            <key>textureFileName</key>
            <string>background_0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
